<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.iceberg.dt.unit.cocoaTouchApplication</string>
	</array>
	<key>Identifier</key>
	<string>com.iceberg.dt.unit.storyboardApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>true</string>
			<key>Identifier</key>
			<string>useStoryboard</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>*:implementation:initSection:initViewController</key>
							<dict>
								<key>Beginning</key>
								<string>- (void)awakeFromNib
{</string>
								<key>End</key>
								<string>    [super awakeFromNib];
}
</string>
								<key>Indent</key>
								<integer>1</integer>
							</dict>
							<key>___VARIABLE_classPrefix:identifier___AppDelegate.m:applicationdidFinishLaunchingWithOptions</key>
							<dict>
								<key>Beginning</key>
								<string>- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions
{
    // Override point for customization after application launch.

    #if __IS_NEWLYCREATED
    NSString *iOSVersion = [[UIDevice currentDevice] systemVersion];
    
    UILabel *uiLabel = [[UILabel alloc] initWithFrame:CGRectMake(0, 0, 100, 60)];
    uiLabel.text = [NSString stringWithFormat:@&quot;%@ %@&quot;, NSLocalizedString(@&quot;hello&quot;, @&quot;&quot;), kDeviceIdiomHello];
    uiLabel.textAlignment = UITextAlignmentCenter;
    uiLabel.font = [UIFont systemFontOfSize:30];
    [uiLabel sizeToFit];
    
    CGSize bounds = self.window.bounds.size;
    [self.window.rootViewController.view addSubview:uiLabel];
    uiLabel.center = CGPointMake(bounds.width/2, bounds.height/2);
    
    UILabel *uiLabel2 = [[UILabel alloc] initWithFrame:CGRectMake(0, 0, 120, 44)];
    uiLabel2.text = [NSString stringWithFormat:@&quot;iOS Version: %@&quot;, iOSVersion];
    uiLabel2.font = [UIFont systemFontOfSize:14];
    [uiLabel2 sizeToFit];

    [self.window.rootViewController.view addSubview:uiLabel2];
    uiLabel2.center = uiLabel.center;
    
    CGRect frame = uiLabel2.frame;
    uiLabel2.frame = CGRectMake(frame.origin.x, frame.origin.y + 27, frame.size.width, frame.size.height);
    #endif
</string>
								<key>End</key>
								<string>    return YES;
}
							</string>
								<key>Indent</key>
								<integer>1</integer>
							</dict>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAME___-Prefix.pch:Availability:iPhoneAvailability:5</string>
						</array>
					</dict>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAME___-Info.plist:UIMainStoryboardFile</key>
							<string>&lt;key&gt;UIMainStoryboardFile&lt;/key&gt;
&lt;string&gt;MainStoryboard&lt;/string&gt;</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAME___-Info.plist:UIMainStoryboardFile</string>
							<string>en.lproj/MainStoryboard.storyboard</string>
						</array>
						<key>RequiredOptions</key>
						<dict>
							<key>universalDeviceFamily</key>
							<string>iPhone</string>
						</dict>
					</dict>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAME___-Info.plist:UIMainStoryboardFile</key>
							<string>&lt;key&gt;UIMainStoryboardFile&lt;/key&gt;
&lt;string&gt;MainStoryboard&lt;/string&gt;</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAME___-Info.plist:UIMainStoryboardFile</string>
							<string>en.lproj/MainStoryboard.storyboard</string>
						</array>
						<key>RequiredOptions</key>
						<dict>
							<key>universalDeviceFamily</key>
							<string>iPad</string>
						</dict>
					</dict>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAME___-Info.plist:UIMainStoryboardFile</key>
							<string>&lt;key&gt;UIMainStoryboardFile&lt;/key&gt;
&lt;string&gt;MainStoryboard_iPhone&lt;/string&gt;
&lt;key&gt;UIMainStoryboardFile~ipad&lt;/key&gt;
&lt;string&gt;MainStoryboard_iPad&lt;/string&gt;</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAME___-Info.plist:UIMainStoryboardFile</string>
							<string>en.lproj/MainStoryboard_iPhone.storyboard</string>
							<string>en.lproj/MainStoryboard_iPad.storyboard</string>
						</array>
						<key>RequiredOptions</key>
						<dict>
							<key>universalDeviceFamily</key>
							<string>Universal</string>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Default</key>
			<string></string>
			<key>Identifier</key>
			<string>depedencyManagement</string>
			<key>Name</key>
			<string>Dependency Manager</string>
			<key>Description</key>
			<string>Dependency Management</string>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>- none -</key>
				<string></string>
				<key>VendorKit</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>../VendorFile</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>../VendorFile</key>
						<dict>
							<key>Group</key>
							<string>Dependencies</string>
							<key>Beginning</key>
							<string># App Dependencies based on VendorKit
# run `vendor install` in your terminal
lib &quot;AFNetworking&quot;, &quot;~&gt; 0.8&quot;
lib &quot;JSONKit&quot;, :git =&gt; &quot;https://github.com/johnezang/JSONKit.git&quot;
lib &quot;RaptureXML&quot;, :git =&gt; &quot;https://github.com/ZaBlanc/RaptureXML.git&quot;</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
					</dict>
				</dict>
				<key>CocoaPods</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../PodFile</key>
						<dict>
							<key>Group</key>
							<string>Dependencies</string>
							<key>Beginning</key>
							<string># App Dependencies based on CocoaPods
# run `pod install` in your terminal

platform :ios,&apos;5.0&apos;
pod &apos;AFNetworking&apos;, &apos;1.1.0&apos;
pod &apos;JSONKit&apos;,		&apos;1.4&apos;
pod &apos;RaptureXML&apos;,	&apos;~&gt;1.0.0&apos;</string>
							<key>TargetIndices</key>
							<array/>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../PodFile</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
