<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.iceberg.dt.unit.storyboardApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>Resources/assets/images/.image.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>assets</string>
				<string>image</string>
			</array>
			<key>TargetIndices</key>
			<array/>
			<key>Beginning</key>
			<string>This file including it&apos;s parent directory called &quot;_unused&quot; should be removed from your project</string>
		</dict>
		<key>Resources/assets/sounds/.sound.mp3</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>assets</string>
				<string>sounds</string>
			</array>
			<key>Beginning</key>
			<string>This file should be removed from your xcode project tree</string>
		</dict>
		<key>Resources/assets/icons/.icon.png</key>
		<dict>
			<key>Beginning</key>
			<string>This file should be removed from your xcode project tree</string>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>assets</string>
				<string>icons</string>
			</array>
		</dict>
		<key>Resources/databases/.empty.sqlite</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>databases</string>
			</array>
			<key>TargetIndices</key>
			<array/>
			<key>Beginning</key>
			<string>This file should be removed from your xcode project tree</string>
		</dict>
		<key>../Coding_Guidelines/dependencies.md</key>
		<dict>
			<key>Beginning</key>
			<string>Installing Dependency Manager

This document will guide you to install dependency manager on your Xcode 4.
Make sure you have latest ruby gem installed.

Run this command first to update Ruby gem:

gem update --system

A. Installing Cocoapods Dependency Manager and Installing Project Dependencies

If you use VendorKit skip to B.	
Before using CocoaPods in your project, make sure you have installed CocoaPods before or update your current installation to the latest by running :

[sudo] gem install cocoapods

pods setup

Then do this steps:

1. Create a project using Iceberg template, use CocoaPods in the Dependency Manager.
2. Close your newly created project.
3. Go to your root directory of your project containing yourproject folder and yourproject.xcodeproj. Make sure you find Podfile file there. If you don&apos;t you should recreate the project using Dependency Manager listed.
4. Go to your terminal (iTerm, zsh, etc) Run pod install on that directory.
5. Open your project with yourproject.xcworkspace don&apos;t use yourproject.xcodeproj

B. Installing VendorKit Dependency Manager and Installing Project Dependencies

Install VendorKit by running this command on terminal :

sudo gem install vendor
Then do this steps:

1. Create a project using Iceberg template, use VendorKit in the Dependency Manager.
2. Go to your root directory of your project containing yourproject folder and yourproject.xcodeproj. Make sure you find Vendorfile file there. If you don&apos;t you should recreate the project using Dependency Manager listed.
3. Open terminal and run:
vendor install</string>
			<key>Group</key>
			<string>Dependencies</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>../Coding_Guidelines/assets.md</key>
		<dict>
			<key>Beginning</key>
			<string>This group is for storing image assets, such as icons and images</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>assets</string>
			</array>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>../Coding_Guidelines/databases.md</key>
		<dict>
			<key>Beginning</key>
			<string>This group is for placing database files such as SQLite, JSON, or XML</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>databases</string>
			</array>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>../Coding_Guidelines/localizations.md</key>
		<dict>
			<key>Beginning</key>
			<string>This group is for placing localizations files</string>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>localizations</string>
			</array>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>___VARIABLE_classPrefix:identifier___ViewController.h</key>
		<dict>
			<key>Group</key>
			<string>Controllers</string>
		</dict>
		<key>___VARIABLE_classPrefix:identifier___ViewController.m</key>
		<dict>
			<key>Group</key>
			<string>Controllers</string>
		</dict>
		<key>___VARIABLE_classPrefix:identifier___ViewController.m:private</key>
		<string>@interface ___VARIABLE_classPrefix:identifier___ViewController ()

@end
</string>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>Identifier</key>
	<string>com.iceberg.dt.unit.singleViewApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>Resources/assets/images/.image.png</string>
		<string>Resources/assets/sounds/.sound.mp3</string>
		<string>Resources/assets/icons/.icon.png</string>
		<string>Resources/databases/.empty.sqlite</string>
		<string>../Coding_Guidelines/assets.md</string>
		<string>../Coding_Guidelines/databases.md</string>
		<string>../Coding_Guidelines/dependencies.md</string>
		<string>../Coding_Guidelines/localizations.md</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.h:viewControllerInterface</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:comments</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:import:___VARIABLE_classPrefix:identifier___ViewController.h</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:private</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:implementation:viewDidLoad</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:implementation:viewDidUnload</string>
		<string>___VARIABLE_classPrefix:identifier___ViewController.m:implementation:shouldAutorotateToInterfaceOrientation:return</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>useStoryboard</string>
			<key>Units</key>
			<dict>
				<key>false</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>___VARIABLE_classPrefix:identifier___AppDelegate.h:methods:viewController</key>
							<string>@property (strong, nonatomic) ___VARIABLE_classPrefix:identifier___ViewController *viewController;
</string>
							<key>___VARIABLE_classPrefix:identifier___AppDelegate.m:applicationdidFinishLaunchingWithOptions:setup</key>
							<string>self.viewController = ___RP___[[___VARIABLE_classPrefix:identifier___ViewController alloc] initWithNibName:@&quot;___VARIABLE_classPrefix:identifier___ViewController&quot; bundle:nil]___AR___;
self.window.rootViewController = self.viewController;</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>___VARIABLE_classPrefix:identifier___AppDelegate.h:class:___VARIABLE_classPrefix:identifier___ViewController</string>
							<string>___VARIABLE_classPrefix:identifier___AppDelegate.h:methods:viewController</string>
							<string>___VARIABLE_classPrefix:identifier___AppDelegate.m:import:___VARIABLE_classPrefix:identifier___ViewController.h</string>
							<string>___VARIABLE_classPrefix:identifier___AppDelegate.m:implementation:dealloc:_viewController</string>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>en.lproj/MainStoryboard_iPad.storyboard</key>
							<dict>
								<key>Path</key>
								<string>MainStoryboard_iPad.storyboard</string>
								<key>Group</key>
								<string>Resources</string>
							</dict>
							<key>en.lproj/MainStoryboard_iPhone.storyboard</key>
							<dict>
								<key>Path</key>
								<string>MainStoryboard_iPhone.storyboard</string>
								<key>Group</key>
								<string>Resources</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>iPad</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>en.lproj/MainStoryboard.storyboard</key>
							<dict>
								<key>Group</key>
								<string>Resources</string>
								<key>Path</key>
								<string>MainStoryboard_iPad.storyboard</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>iPhone</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>en.lproj/MainStoryboard.storyboard</key>
							<dict>
								<key>Group</key>
								<string>Resources</string>
								<key>Path</key>
								<string>MainStoryboard_iPhone.storyboard</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
</dict>
</plist>
